.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 414px;
  background-color: rgba(0, 0, 0, 0.65);
  padding: 24px 16px;
  border-radius: 16px;
  box-shadow: inset 0px 1px 0px rgb(177 177 177), inset -4px -3px 4px rgba(10, 10, 10, 0.493), 4px 3px 4px rgba(10, 10, 10, 0.70);
  color: aliceblue;
}

.splashart-container{
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  border-radius: 8px;
  border: 2px solid #b85ec4;
  box-shadow: 2px 2px 4px rgba(177, 177, 177, 0.308);
}

.splashart {
  width: 252px;
  height: 252px;
  object-fit: cover;
}

.revealed{
  width: 100%;
  border-radius: 15px;
}

.game h2{
  font-size: 20px;
}

.game button {
  font-size: 16px;
  color: #242863;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 14px 22px;
  border: 3px solid;
  border-image: linear-gradient(to right, #242863, #482a4c) 1;
}

.game button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 8px #b85ec4;
  transition: 0.3s;
}

.guess {
  position: relative;
}

.champs-preview {
  position: absolute;
  left: -95px;
  top: 60px;
  width: 300px;
}

.champs-preview ul, .answers ul{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 4px;
}

.champs-preview li {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  padding: 8px 16px;
  padding-right: 8px;
  background-color: #482a4c;
  border-bottom: inset 1px #242863;
  gap: 16px;
  cursor: pointer;
}

.champs-preview li:hover{
  background-color: #6c4172;
}

.champs-preview li img, .answers li img {
  width: auto;
  height: 80%;
  object-fit: contain;
}

.answers {
  width: 300px;
  margin-top: 24px;
}

.answers ul {
  gap: 16px;
  width: 300px;
}

.answers li {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  padding: 8px 16px;
  padding-right: 0;
  border: inset 1px goldenrod;
  gap: 16px;
  border-radius: 4px;
}

.champs-preview li p, .answers li p{
  font-weight: 600;
  font-size: 20px;
}

.guess input {
  height: 53px;
}